/* Min Width */
@media (min-width: 992px) {
    #header .nav-link {
        margin-left: 15px;
        margin-right: 15px;
    }
}


/* Medium devices - Max Medium (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #header .navbar-collapse {
        width: 100%;
    }
}