
<!DOCTYPE html>

<html lang="en-GB" >
<head>
<title>Selecione agenda to change</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">

  <link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">
  <script src="/static/admin/js/nav_sidebar.js" defer></script>


  
  <link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css">
  
  
    <script src="/admin/jsi18n/"></script>
  
  
  




<script src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script src="/static/admin/js/jquery.init.js"></script>
<script src="/static/admin/js/core.js"></script>
<script src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script src="/static/admin/js/actions.js"></script>
<script src="/static/admin/js/urlify.js"></script>
<script src="/static/admin/js/prepopulate.js"></script>
<script src="/static/admin/js/vendor/xregexp/xregexp.js"></script>


    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    

<meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class=" app-home model-agenda change-list"
  data-admin-utc-offset="0">

<!-- Container -->
<div id="container">

    
    <div id="header">
        <div id="branding">
  
          <h1 id="site-name"><a href="/admin/">Auto Escola Líder</a></h1>
  
        </div>
  
  
        <div id="user-tools">
  
          Bem vindo,
          <strong>alvaro.morais</strong>.
  
  
  
          <a href="/">Página Principal</a> /
  
  
  
  
  
  
          <a href="/admin/password_change/">Mudar senha</a> /
  
          <a href="/admin/logout/">Sair</a>
  
        </div>
  
  
  
      </div>    
<div class="breadcrumbs">
<a href="/admin/">Home</a>
&rsaquo; <a href="/admin/home/">Clientes</a>
&rsaquo; Agendas
</div>

    

    <div class="main shifted" id="main">
      
        
          
<button class="sticky toggle-nav-sidebar" id="toggle-nav-sidebar" aria-label="Toggle navigation"></button>
<nav class="sticky" id="nav-sidebar">
  


  
    <div class="app-auth module">
      <table>
        <caption>
          <a href="/admin/auth/" class="section" title="Models in the Authentication and Authorization application">Authentication and Authorization</a>
        </caption>
        
          <tr class="model-user">
            
              <th scope="row"><a href="/admin/auth/user/">Usuários</a></th>
            

            
              <td><a href="/admin/auth/user/add/" class="addlink">Adicionar</a></td>
            

            
          </tr>
        
      </table>
    </div>
  
    <div class="app-home module current-app">
      <table>
        <caption>
          <a href="/admin/home/" class="section" title="Models in the Home application">Home</a>
        </caption>
        
          <tr class="model-agenda current-model">
            
              <th scope="row"><a href="/admin/home/agenda/" aria-current="page">Aulas</a></th>
            

            
              <td><a href="/admin/home/agenda/add/" class="addlink">Adicionar</a></td>
            

            
          </tr>
        
          <tr class="model-pessoa">
            
              <th scope="row"><a href="/admin/home/pessoa/">Clientes</a></th>
            

            
              <td><a href="/admin/home/pessoa/add/" class="addlink">Adicionar</a></td>
            

            
          </tr>
        
      </table>
    </div>
  


</nav>

        
      
      <div class="content">
        
          
        
        <!-- Content -->
        <div id="content" class="flex">
          
          <h1>Select agenda to change</h1>
          
  <div id="content-main">
    
        <ul class="object-tools">
          
            


  
  <li>
    
    <a href="/admin/home/agenda/add/" class="addlink">
      Add agenda
    </a>
  </li>
  


          
        </ul>
    
    
    <div class="module filtered" id="changelist">
      <div class="changelist-form-container">
        


        

        <form id="changelist-form" method="post" novalidate><input type="hidden" name="csrfmiddlewaretoken" value="tXOPanzkAtkFJd5oihLhhBerWztU29NMVCwDInhSCIJVPCS67ArCuCHzWUanz5tq">
        

        
          
<div class="actions">
  
    
    <label>Action: <select name="action" required>
  <option value="" selected>---------</option>

  <option value="delete_selected">Delete selected agendas</option>

</select></label><input type="hidden" name="select_across" value="0" class="select-across">
    
    
    <button type="submit" class="button" title="Run the selected action" name="index" value="0">Go</button>
    
    
    
        <span class="action-counter" data-actions-icnt="5">0 of 5 selected</span>
        
    
    
  
</div>

          


<div class="results">
<table id="result_list">
<thead>
<tr>

<th scope="col"  class="action-checkbox-column">
   
   <div class="text"><span><input type="checkbox" id="action-toggle"></span></div>
   <div class="clear"></div>
</th>
<th scope="col"  class="sortable column-name">
   
     
   
   <div class="text"><a href="?o=1">Name</a></div>
   <div class="clear"></div>
</th>
<th scope="col"  class="sortable column-date">
   
     
   
   <div class="text"><a href="?o=2">Date</a></div>
   <div class="clear"></div>
</th>
<th scope="col"  class="sortable column-hour">
   
     
   
   <div class="text"><a href="?o=3">Hour</a></div>
   <div class="clear"></div>
</th>
</tr>
</thead>
<tbody>


<tr><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="12" class="action-select"></td><th class="field-name nowrap"><a href="/admin/home/agenda/12/change/">Thiago</a></th><td class="field-date nowrap">18 Jun 2021</td><td class="field-hour nowrap">10 a.m.</td></tr>


<tr><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="11" class="action-select"></td><th class="field-name nowrap"><a href="/admin/home/agenda/11/change/">Juan</a></th><td class="field-date nowrap">17 Jun 2021</td><td class="field-hour nowrap">10 a.m.</td></tr>


<tr><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="10" class="action-select"></td><th class="field-name nowrap"><a href="/admin/home/agenda/10/change/">Thiago</a></th><td class="field-date nowrap">17 Jun 2021</td><td class="field-hour nowrap">10 a.m.</td></tr>


<tr><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="9" class="action-select"></td><th class="field-name nowrap"><a href="/admin/home/agenda/9/change/">Luiz Henrique</a></th><td class="field-date nowrap">16 Jun 2021</td><td class="field-hour nowrap">11 a.m.</td></tr>


<tr><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="8" class="action-select"></td><th class="field-name nowrap"><a href="/admin/home/agenda/8/change/">Elton</a></th><td class="field-date nowrap">23 Jun 2021</td><td class="field-hour nowrap">10 a.m.</td></tr>

</tbody>
</table>
</div>


          
        
        

<p class="paginator">

5 agendas


</p>

        </form>
      </div>
      
        
          <div id="changelist-filter">
            <h2>Filter</h2>
            
            
<h3> By name </h3>
<ul>

    <li class="selected">
    <a href="?" title="All">All</a></li>

    <li>
    <a href="?name__id__exact=3" title="Thiago">Thiago</a></li>

    <li>
    <a href="?name__id__exact=4" title="Elton">Elton</a></li>

    <li>
    <a href="?name__id__exact=5" title="Luiz Henrique">Luiz Henrique</a></li>

    <li>
    <a href="?name__id__exact=6" title="Juan">Juan</a></li>

</ul>

          </div>
        
      
    </div>
  </div>

          
          <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
      </div>
    </div>
</div>
<!-- END Container -->
</body>
</html>
